* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FONT STYLE */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* SHARED BUTTON STYLE */
.btn {
  background-color: rgba(70, 145, 101, 1);
  border-radius: 4px;
  border: none;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.common-title {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
}
.common-subtitle {
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* HEADER SECTION */
header {
  margin-top: 18px;
}
/* NAVIGATION SECTION */
.navbar {
  width: 80%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
/* BANNER SECTION */
.banner {
  background-image: url(./assets/hero-bg.png);
  max-width: 1600px;
  margin: 20px auto 50px;
}
.banner-container {
  width: 50%;
  margin: auto;
  text-align: center;
}
.banner-content {
  padding-top: 140px;
  margin: 0 auto 32px auto;
}
.banner-subheader {
  width: 42%;
  margin: 0 auto 16px;
  background-color: white;
  padding: 8px 12px 8px 12px;
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
}
.banner-header {
  margin-bottom: 16px;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.header-highlight {
  color: rgba(48, 184, 104, 1);
}
.banner-description {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.demo-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}
.demo-btn {
  color: rgba(255, 255, 255, 1);
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.banner-btn {
  padding-bottom: 160px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
/* MAIN PAGE SECTION */
main {
  max-width: 1600px;
  margin: auto;
}
.notes {
  width: 80%;
  margin: 0 auto 100px auto;

  text-align: center;
}
.notes-box-container {
  display: flex;
  justify-content: space-between;
}
.notes-box {
  width: 24%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  background: white;
  margin-top: 40px;
  padding: 50px 14px;
}
.notes-box-header {
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-style: Semi Bold;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.notes-icons {
  background: rgba(249, 85, 85, 1);
  padding: 10px;
  border-radius: 100%;
}

.solution {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.solution-subheader {
  color: rgba(70, 145, 101, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.solution-content {
  width: 60%;
}

.solution-content li {
  list-style: url(./assets/CheckCircle.png);
  line-height: 36px;
  margin-left: 24px;
}

.early-access {
  margin: 100px auto;
  width: 80%;
  padding: 60px 30px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  text-align: center;
}
.early-access button,
.early-access h2 {
  margin: 14px;
}
