* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: rgba(70, 145, 101, 1);
  border-radius: 4px;
  border: none;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
}

header {
  margin-top: 18px;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
