* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FONT STYLE */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* SHARED BUTTON STYLE */
.btn {
  background-color: rgba(70, 145, 101, 1);
  border-radius: 4px;
  border: none;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 1);
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* HEADER SECTION */
header {
  margin-top: 18px;
}
/* NAVIGATION SECTION */
.navbar {
  width: 80%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
/* BANNER SECTION */
.banner {
  background-image: url(./assets/hero-bg.png);
  max-width: 1600px;
  margin: 20px auto 36px;
}

.banner-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.banner-content {
  padding-top: 140px;
  margin: 0 auto 32px auto;
}
.banner-subheader {
  width: 42%;
  margin: 0 auto 16px;
  background-color: white;
  padding: 8px 12px 8px 12px;
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  text-align: center;
  border-radius: 30px;
}
.banner-header {
  margin-bottom: 16px;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.header-highlight {
  color: rgba(48, 184, 104, 1);
}
.banner-description {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.demo-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.demo-btn {
  color: rgba(255, 255, 255, 1);
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: transparent;
  border: none;
}

.banner-btn {
  padding-bottom: 180px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
